:host {
    display: block;
    width: 100vw;
    height: 100vh;
}

:host::after {
    content: "";
    background: url('../../../background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -5;
}