<div class="container infoContent">
    <div>
        <h2>Welcome!
        </h2>
    </div>
    <div> This simple website let you after logging in add todos, and read some jokes.
    </div>
    <div>
        Vestibulum vel ligula et velit accumsan tincidunt nec sed dui. Sed lacinia lectus ut leo rhoncus, sed aliquam
        libero aliquet. In ultricies, leo ac feugiat feugiat, lorem elit ultrices eros, sed interdum purus augue vel
        elit. Donec tempor neque sagittis
        metus laoreet laoreet.
    </div>
    <div>
        Donec a lacus sem. Donec consequat justo quis lectus lobortis consequat. Morbi vel varius sem. Vivamus non felis
        sagittis, condimentum augue in, euismod est. Donec scelerisque ultrices lectus sed tincidunt. Etiam ultrices
        magna a egestas congue. In hac
        habitasse platea dictumst. Vivamus vulputate semper leo, ut ultricies nisl pharetra vulputate.
    </div>
    <button routerLink="/login" class=" btn btn-info about ">Go
        to login
        page</button>
</div>