:host {
    color: white;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
}

.infoContent {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    background-color: rgba(0, 0, 0, 0.5) !important;
    z-index: 4;
    font-size: 1.1rem;
}

.infoContent a {
    color: white;
    font: bold;
    text-decoration: underline;
}

.infoContent .btn {
    width: 100px;
}

.buttonDiv {
    display: grid;
    justify-items: center;
}