<div class="container infoContent">
    <div>
        <h1>Welcome!
        </h1>
    </div>
    <div>
        This simple website allows you to add todos and read some jokes after logging in.<br />
        The code is available on <a href="https://github.com/mateuszgrzelak/todosandjokes" target="blank">github</a>.
        <br />
        Server was written in Java using Spring framework.<br />
        Client uses Angular 9 framework.<br />

    </div>
    <div class="buttonDiv">
        <button routerLink="/login" class="btn btn-info about mt-2">Back</button>
    </div>
</div>