<div class="mainContent">
    <div class="alert alert-success" *ngIf='message'>
        {{message}}</div>
    <table class=" table table-hover">
        <thead>
            <tr>
                <th>description</th>
                <th>done</th>
                <th>date</th>
                <th>update</th>
                <th>delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td><button (click)="updateTodo(todo.id)" class="btn btn-success">Update</button></td>
                <td><button (click)="removeTodo(todo.id)" class="btn btn-warning">Delete</button></td>
            </tr>
            <tr *ngFor="let todo of todos">
                <td>{{todo.description}}</td>
                <td>{{todo.done}}</td>
                <td>{{todo.targetDate | date}}</td>
                <td><button (click)="updateTodo(todo.id)" class="btn btn-success">Update</button></td>
                <td><button (click)="removeTodo(todo.id)" class="btn btn-warning">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <h2>Add Todo</h2>
    <div class="alert alert-warning" *ngIf="invalidDescriptionFormMessage">
        Description can not be empty.
    </div>
    <div class="alert alert-warning" *ngIf="invalidDateFormMessage">
        Target date can not be empty.
    </div>
    <form (ngSubmit)="addTodo()">
        <div class="form-group">
            <label>Description</label>
            <input type="tekst" name="description" [(ngModel)]="todo.description" class='form-control'>
        </div>
        <div class="form-group">
            <label>Target date</label>
            <input type="date" name="targetDate" [ngModel]="todo.targetDate | date:'yyyy-MM-dd'" (ngModelChange)="todo.targetDate = $event" class='form-control'>
        </div>
        <button type="submit" class="btn btn-success">Add</button>
    </form>
</div>