<div class="container mainContent">
    <div class="box">
        <div class="line"></div>
        <div class="jokesContainer row content">
            <div *ngIf="isLoading" class="overlay">
                <mat-progress-spinner class="spinner" [color]="color" [mode]="mode" [value]="value"></mat-progress-spinner>
            </div>
            <div *ngIf="isLoading == false">
                <div class="joke" *ngFor="let joke of jokes">
                    <div class="jokeSetup ml-1">- {{joke.setup}}</div>
                    <div class="jokePunchline ml-1">- {{joke.punchline}}</div>
                </div>
            </div>
        </div>

        <div class="randomContainer row footer"><button class="buttonRandom" (click)="getJokes()">Random</button></div>
    </div>
</div>